body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-image: url('./images/fondo.jpg');
  background-size: cover;
}

table {
  border-collapse: collapse;
  width: 65%;
  height: 65%;
}

td {
  text-align: center;
  border: 1px solid black;
}

td:hover {
  background-color: lightblue;
}
