#tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.task{
    display: inline;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.done{
    background-color: red;
}

.todo{
    background-color: lightblue;
    
}

