<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>  <meta name="viewport" content="width=device-width, initial-scale=1"><script defer src="bundle.js"></script><link href="main.css" rel="stylesheet"></head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <h1>Luka Modric</h1>
    <img src="https://estaticos-cdn.prensaiberica.es/clip/61b727c9-db82-4ca0-9913-b713308e3103_alta-libre-aspect-ratio_default_0.jpg" alt="">
  </body>
</html>