/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Faster One', cursive;
  }
  
  /* header styles */
  
  h1 {
    font-size: 4rem;
    text-align: center;
    transition: color 1.5s;
  }

  h1:hover, h2:hover{
    color: white;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    width: 33%;
    float: left;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
    transition: color 1.5s;

  }

  /* Mine */

  #g3 {
    background: linear-gradient(90deg, #f598a8, #f6edb2);
  }

  p, li{
    transition: color 1s, width 1.5s heigt 1.5s;
  }

  p:hover, li:hover{
    font-size: 1.3em;
    color: orangered;
  }

  img{
    width: 250px;
  }